*******************************************************
*                                                     *
* DRILL TAPE SUMMARY REPORT                           *
*                                                     *
* E:\PCB\MIRACLE\PCBS\CONTROL BOARD\LAYOUT\BOARD.MAX  *
* Thu Jul 13 01:51:33 2017                            *
*                                                     *
*******************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       23       47       200      100                                                                                 
T2       31       90       200      100                                                                                 
T3       35       72       200      100                                                                                 
T4       39       74       200      100                                                                                 
T5       42       60       200      100                                                                                 
T6       43       5        200      100                                                                                 
T7       120      8        200      100                                                                                 
T8       137      6        200      100                                                                                 
