**********************************************************
*                                                        *
* DRILL TAPE SUMMARY REPORT                              *
*                                                        *
* E:\PCB\MIRACLE\PCBS\NAV_BETTER BOARD\LAYOUT\BOARD.MAX  *
* Thu Jul 13 02:25:16 2017                               *
*                                                        *
**********************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       23       73       200      100                                                                                 
T2       31       121      200      100                                                                                 
T3       35       66       200      100                                                                                 
T4       39       76       200      100                                                                                 
T5       42       60       200      100                                                                                 
T6       43       8        200      100                                                                                 
T7       120      8        200      100                                                                                 
T8       137      6        200      100                                                                                 
